//  import
@import '_reset.scss';
@import '_variables.scss';
@import '_typographica.scss';


// main style

.title-regular {
    display: block;
    font-weight: bold;
    font-size: 32px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.hide {
    display: none;
}

.section-all-wrapp {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hiden {
    overflow: hidden;

    &::after {
        content: '';
        background-color: rgba(0, 0, 0, 0.35);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.open-section {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.hovertrue {
    transition: all 0.3s;

    &::after {
        content: '';
        display: block;
        background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(0,142,196,0.2) 1%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(80,196,0,0.2) 99%, rgba(255,255,255,0.1) 100%);
        position: absolute;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        border-radius: 50px;
        z-index: -1;
    }
}

.plus {
    width: 16px;
    height: 16px;
    position: relative;

    .plus-h, .plus-v {
        background-color: $color-black;
        position: absolute;
        transition: all 0.3s;
    }

    .plus-h {
        width: 16px;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);
    }

    .plus-v {
        height: 16px;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.cross {
    transform: rotate(45deg);
    position: absolute;
    top: 23px;
    right: 33px;
    cursor: pointer;
    display: block;
    
    &:hover {
        .plus-h, .plus-v {
            background-color: $color-hover;
        }
    }

    .plus-h, .plus-v {
        background-color: $color-white;
    }
}

.error-item, .updated-successfully {
    display: block;
    font-size: 14px;
    line-height: 1;
    color: $color-not-successful;
    text-align: center;
    position: absolute;
    bottom: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.updated-successfully {
    color: $color-successful;
    width: 100%;
    bottom: -10px;
    font-size: 20px;
}

.error-visible, .successful-visible, .send-img-visible {
    visibility: visible;
    opacity: 1;
}

.error-validate {
    right: 0;
}

.error-edit-profile {
    width: 100%;
    bottom: -5px;
}

.more-options {
    background-color: $color-bg-button;
    color: $color-white;
    border-radius: 20px;
    padding: 0 33px 0;
    position: absolute;
    justify-content: space-between;
    display: none;
    
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    &__allelem {
        align-self: center;
        cursor: pointer;
        margin-bottom: -5px;

        span {
            margin-bottom: 5px;
        }
    }
    
    &__elem {
        transition: all 0.3s;

        &:hover {
            color: $color-hover;
        }
    }
}

.open-more-options {

    .more-options {
        display: flex;
    }
}

.icon-circles {
    margin-bottom: -3px;
    width: 20px;
    cursor: pointer;
    align-self: flex-start;

    .icon-circle {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $color-circle-bg;
        margin: 0 auto 3px;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: $color-scrollbar;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: $color-triangle-bg;
    border-radius: 5px;
}
// style for ProgressBar
.box {
    display: inline-block;
}
  
.progress {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.progress > .inner {
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
  
.progress > svg {
    height: 100%;
    display: block;
}

//  style for section width 

.w-small {
    width: 100%;
    max-width: 980px;
    margin: auto;
}

.w-regular {
    width: 100%;
    max-width: 1430px;
    margin: auto;
}

// style for form

.form {

    label {
        font-size: 16px;
        line-height: 115%;
        color: $color-text-main;
    }

    input {
        max-width: 350px;
        width: 100%;
        border-bottom: 1px solid $color-border;
        padding: 16px 20px;
        margin-bottom: 30px;
        display: block;
    
        &[placeholder]          {
            @extend %placeholder;
        }
    }

    .input-wrapp {
        position: relative;
    }

    &__items-wrapp {
        margin-bottom: 45px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }

    &__button-wrapp {
        margin-bottom: 30px;

        .button {
            @extend %button;
            margin: auto;

        }
    }
}

.another-choice {
    text-align: center;
    display: block;
    font-size: 24px;
    line-height: 115%;
    color: $color-black;
    text-decoration: underline;
    cursor: pointer;
}

// style for registration, sign in, edit-profile-wrapp, create-task-wrapp

.reg-wrapp, .signin-wrapp, .edit-profile-wrapp, .create-task-wrapp, .update-wrapp, .login-wrapp, .send-img__wrapp {
    padding: 60px 115px 70px;
    box-shadow: 0px 20px 20px rgba(136, 136, 136, 0.25);
    border-radius: 50px;
    border: 1px solid $color-white;
    background-color: $color-white;

    .title-regular {
        margin-bottom: 50px;
    }
}

.success-login {
    &__title {
        text-align: center;
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 100px;
    }

    &__img {
        max-height: 750px;
        height: 100%;
        max-width: 100%;
        width: 100%;
    }

    .cross {
       position: static;
       transform: scale(1.5) rotate(45deg);
       margin-left: auto;
       
       span {
           background-color: $color-black;            
       }
    }
}

.success-login-open {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

// style for sign in 

.section-signin, .section-reg, .success-login {

    @extend %visibility-section;

    .signin-wrapp {
        background-color: $color-white;

        .form {
    
            &__items-wrapp {
                justify-content: center;
            }
    
            input {
                max-width: 452px;
            }
        }
    }
}

// style for to do page

.tasks-lists-page {
    display: flex;
    justify-content: space-between;

    .tasks-lists {
        max-width: 980px;
        width: 100%;

        .tasks-lists-wrapp {
            @extend %tasks-lists;
            display: flex;
            justify-content: space-between;
            position: relative;
            background-color: $color-white;
            transition: all 0.3s;
        }
    
        .title-regular {
            margin-bottom: 30px; 
            max-width: 330px;
            width: 100%;

        }

        &__text {
            max-width: 190px;
        }

        &__items {
            max-width: 390px;
            width: 100%;
            max-height: 400px;
            min-height: 130px;
            height: 100%;
            margin-bottom: 28px;
            max-height: 390px;
            overflow-y: scroll;
            padding-right: 60px;
        }

        &__to-do, &__complited {
            max-width: 50%;
            width: 100%;
        }

        &__to-do {
            border-right: 1px solid $color-border-light;            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           
            .hovertrue {
                            
                &::after {
                    background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(0,142,196,0.2) 1%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.2) 99%, rgba(255,255,255,0.1) 100%);
                }
            }
        }

        &__item {
            max-width: 330px;
            width: 100%;
            padding: 23px 33px;
            background: $color-item-bg;
            border: 1px solid $color-border-second;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            line-height: 24px;
            position: relative;
        }

        &__add-task {
            padding: 18px 33px;
            max-width: 330px;
            width: 100%;
            border: 1px solid $color-border-dark;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: all 0.3s;
            cursor: pointer;
        }

        &__add-task:hover {
            color: $color-hover;
            border-color: $color-hover;

            .plus-v, .plus-h {
                background-color: $color-hover;
            }
        }

        &__complited {
            width: 100%;
            max-width: 47%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .hovertrue {

                &::after {
                    background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.2) 1%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(80,196,0,0.2) 99%, rgba(255,255,255,0.1) 100%);
                }
            }
        }
    }

    span {
        display: block;
    }

    .icon-triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 8px 0 8px;
        border-color: $color-triangle-bg transparent transparent transparent;
    }

    .profile-info {
        position: relative;

        .user-info {
            display: flex;
            align-items: center;
            font-size: 24px;
            line-height: 30px;
            color: $color-black;
            cursor: pointer;
            padding-bottom: 20px;

            &:hover .user-info__more{
               visibility: visible;
               opacity: 1;
            }

            &__name {
                margin-right: 10px;
                font-size: 18px;
                max-width: 90%;

                span {
                    text-transform: capitalize;
                    font-size: 24px;
                }
            }

            &__img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                background-color: $color-border-light;
                margin-right: 15px;                
            }

            &__more {
                visibility: hidden;
                opacity: 0;
                padding: 20px 25px;
                background: $color-more-bg;
                border: 1px solid $color-border-second;
                box-sizing: border-box;
                box-shadow: 0px 15px 20px rgba(136, 136, 136, 0.2);
                font-size: 16px;
                line-height: 30px;
                border-radius: 10px;
                min-width: 205px;
                position: absolute;
                z-index: 10;
                top: 75px;
                right: -25px;
                transition: all 0.3s;

                &::before {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 8px 13px 8px;
                    border-color: transparent transparent $color-border-second transparent;
                    position: absolute;
                    right: 25px;
                    top: -13px;
                }    

                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 7px 12px 7px;
                    border-color: transparent transparent $color-more-bg transparent;
                    position: absolute;
                    right: 26px;
                    top: -11px;
                }    
            }
        }
    }
}

// style for section edit profile

.section-edit-profile {
    
   @extend %visibility-section;

    .edit-profile-wrapp {
        background-color: $color-white;        
        position: relative;
    }

    .cross-edit-profile {
       transform: scale(1.5) rotate(45deg);
       top: 40px;
       right: 48px;

        span {
            background-color: $color-black;
        }
    }

    .form {
        position: relative;

        &__items-wrapp {
            display: flex;
            justify-content: space-between;            
        }

        &__item-wrapp {
            max-width: 350px;
            width: 100%;

            input {
                color: $color-black;

                &[placeholder] {
                    font-size: 20px;
                }
            }
        }

        &__item-wrapp-update {
            width: 100%;
            max-width: 100%;
        }

        &__img-update {
            width: 100%;
            height: 90px;
            max-width: 90px;
            max-height: 90px;
            overflow: hidden;
            border-radius: 50%;
            position: relative;
            background-color: $color-black;
            margin: 0 auto 20px;
            cursor: pointer;            
        }

        &__img-update::after {
            content: '';
            display: block;
            width: 100%;
            max-width: 46px;
            max-height: 46px;
            height: 90%;
            background-image: url('../images/icon-camera.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__img-update::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: $color-circle-bg;
            opacity: 0.7;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    
        .send-img__wrapp {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            right: -5px;
            top: 0;
            left: -5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 60px 80px;
            border: 1px solid $color-border-light;
            transition: all 0.3s;

            .update-photo {
                max-width: 270px;
            }

            input {
                border: none;
                margin-bottom: 0;
            }

            .cross-update-photo {
                top: 50%;
                transform: translateY(-50%) rotate(45deg);

                span {
                    background-color: $color-black;                    
                }

                &:hover {
                    span {
                        background-color: $color-hover;
                    }
                }
            }

            .button-update-photo {
                max-width: 100px;
                max-height: 50px;
                padding: 10px 5px;
                font-size: 18px;
                width: 100%;
                height: 100%;
                background-color: rgba(2, 168, 104, 0.5);
                border-radius: 10px;
                transition: all 0.3s;

                &:hover {
                background-color: rgba(2, 168, 104, 1);
                }
            }
        }   
        
        .send-img-visible {
            visibility: visible;
            opacity: 1;
        }
    }
}

// style for section create task

.section-create-task, .section-update-task {

   @extend %visibility-section;

    .create-task-wrapp, .update-wrapp {
        background-color: $color-white;
    }

    .new-task, .update-task {
        max-width: 100%;
        width: 100%;
        border-bottom: 1px solid $color-border;
        height: 150px;
        margin-bottom: 70px;
        font-size: 25px;
        padding-top: 15px;
    }

    .form {
        
        &__item-wrapp {
            width: 100%;
        }

        .button {
            margin: 0;
        }
    }
}